@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:5;
  --fontsize-p:1.5rem;
  --fontsize-nav:1.5rem;
  --typing-font:2rem;
}

*
{
  margin:0;
  padding: 0;
}

body{
  font-family: 'Raleway';
}

.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav
{
  padding:100px 0px 0px 5px ;
  flex: 50px;
  background: rgb(255, 85, 85);
  background: linear-gradient(150deg, rgb(112,128,144) 50%, rgb(128,128,128) 70%);
}

.condiv
{
  padding: 100px ;
  background-color :#F5FFFA;
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic

{
  border-radius: 50%;
  width: 500px;
  margin: 50px;
}
.typingeffect

{
  font-size: var(--typing-font);
  margin-bottom: 25px;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li
{
  margin:20px;
}

a
{
  text-decoration: none;
  color: white;
  text-decoration: solid;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}

.social
  {
    width: 10vw;
    display: flex;
    justify-content: space-around;
    bottom: 20px;
    padding-left: 25px;
    padding-top: 10px;
  }

.social i
{
  padding-right: 30px;
  font-size: 30px;
  color: #9a9b9c;
}
.social i:hover
{
  color: #87CEEB;
}

.educationDetails
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.educationDetails:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}

